.container {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(5, 1fr);  
  padding: 7%;
  padding-left: 10%;
}

.inner-container {
  display: grid;
}

.drink-img {


}

.drink-title {
  font-size: 15px;
}

